/* Desktop */
$desktop-above: 1281px;
$desktop: 1280px;

/* Laptop */
$laptop-above: 1025px;
$laptop: 1024px;
$laptop-less: 1023px;

/* Tablet */
$tablet-above: 769px;
$tablet: 768px;

/* Mobile Large */
$mobile-lg-above: 577px;
$mobile-lg: 576px;

/* Mobile */
$mobile-above: 321px;
$mobile: 320px;

@mixin desktop-above {
  @media (min-width: $desktop-above) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin laptop-above {
  @media (min-width: $laptop-above) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: $laptop) {
    @content;
  }
}

@mixin laptop-less {
  @media (max-width: $laptop-less) {
    @content;
  }
}

@mixin tablet-above {
  @media (min-width: $tablet-above) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile-lg-above {
  @media (min-width: $mobile-lg-above) {
    @content;
  }
}

@mixin mobile-lg {
  @media (max-width: $mobile-lg) {
    @content;
  }
}

@mixin mobile-above {
  @media (min-width: $mobile-above) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
