@use '../abstracts/media' as media;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  --view-width: 1280;
  --bg-image-height: 566;
  --bg-aspect-ratio: calc(var(--bg-image-height) / var(--view-width));

  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-primary);
  background-image: url('@/assets/img/background.svg');
  background-position: top right;
  background-size: auto calc(100vw * var(--bg-aspect-ratio));
  background-repeat: no-repeat;

  @include media.desktop-above {
    --view-width: 3400;
    --bg-image-height: 1100;
  }

  @include media.mobile-lg {
    background-position: top right -50px;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}
