@use '../abstracts/mixins' as mixins;

.burger-button {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: var(--foreground-secondary);

  @include mixins.flex-center(true);
  @include mixins.transition(background-color);

  @include mixins.hover {
    background-color: var(--color-accent-1);
  }

  @include mixins.focus-outline;

  &:after {
    content: '';
    width: 18px;
    height: 2px;
    background-color: currentColor;
    box-shadow:
      0 -5px,
      0 5px;
  }
}
