@use '../abstracts/media' as media;
@use '../abstracts/mixins' as mixins;

.feedback {
  padding-block: 90px 116px;

  @include media.laptop {
    padding-block: 90px;
  }

  @include media.tablet {
    padding-block: 80px 75px;
  }

  @include media.mobile {
    padding-block: 62px 70px;
  }

  &__container {
    position: relative;
  }

  &__title {
    margin-bottom: 40px;

    @include media.tablet {
      max-width: 380px;
    }

    @include media.mobile-lg {
      max-width: 270px;
      margin-bottom: 20px;
    }

    @include media.mobile {
      max-width: 210px;
      margin-bottom: 20px;
    }
  }

  &__swiper-container {
    position: relative;
    max-width: 960px;
    margin-inline: auto;

    @include media.laptop {
      max-width: 860px;
    }

    @include media.laptop-less {
      max-width: 680px;
    }

    @include media.tablet {
      max-width: 476px;
    }
  }

  &__swiper {
    overflow: hidden;
    width: 100%;
  }

  &__button {
    --offset: -60px;

    position: absolute;
    top: 35%;
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    color: var(--slider-arrow-color);

    @include mixins.flex-center(true);
    @include mixins.transition(background-color);

    @include mixins.hover {
      background-color: var(--slider-button-background-hover);
    }

    @include mixins.focus-outline;

    @include media.laptop-less {
      --offset: -52px;

      top: 30%;
    }

    @include media.mobile-lg {
      --offset: 0px;

      width: 36px;
      height: 36px;
    }

    &--prev {
      left: var(--offset);
    }

    &--next {
      right: var(--offset);
      rotate: 180deg;
    }

    & svg {
      @include media.mobile-lg {
        width: 12px;
        height: 18px;
      }
    }
  }
}
