@use '../abstracts/media' as media;

.header {
  padding-block: 20px;

  @include media.laptop {
    padding-bottom: 27px;
  }

  @include media.tablet {
    padding-bottom: 18px;
  }

  @include media.tablet {
    padding-bottom: 15px;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    flex-shrink: 0;
  }

  &__menu {
    margin-left: auto;
  }

  &__burger-button {
    margin-left: auto;
  }
}
