.header {
  padding-top: 20px;

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    flex-shrink: 0;
  }

  &__menu {
    margin-left: auto;
  }

  &__burger-button {
    margin-left: auto;
  }
}
